//=calculator.commands.Comment
\#=calculator.commands.Comment
ABS=calculator.commands.AbsoluteValue
AVG=calculator.commands.Average
DEFINE=calculator.commands.Define
/=calculator.commands.Division
DIVIDE=calculator.commands.Division
LOAD=calculator.commands.Load
-=calculator.commands.Minus
MINUS=calculator.commands.Minus
*=calculator.commands.Multiply
MULTIPLY=calculator.commands.Multiply
+=calculator.commands.Plus
PLUS=calculator.commands.Plus
POP=calculator.commands.Pop
PRINT=calculator.commands.Print
PUSH=calculator.commands.Push
SAVE=calculator.commands.Save
SQRT=calculator.commands.Sqrt